@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --main-font: "Pixelify Sans", sans-serif;
  --secondary-font: "Saira Stencil One", sans-serif;
  --modal-font: "Special Elite", sans-serif;
}

body {
  font-family: var(--main-font);
}

.pokemon-list-item {
  position: relative;
}

.pokemon-list-item:hover {
  cursor: pointer
}

.pokemon-list-item img {
  max-width: 100%;
  border: 1px solid rgb(203, 203, 203);
}

.caught-tag {
  z-index: 1;
  position: absolute;
  width: 104%;
  height: 104%;
  top: -2%;
  left: -2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 128, 0, .8);
}

#pokemon-spotlight {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 50vh;
  overflow: visible;
  font-family: var(--modal-font);
  padding: 2rem;
}

#pokemon-spotlight>header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#pokemon-spotlight #modal-close {
  font-size: 1.5rem;
}

#pokemon-spotlight>.modal-body {
  display: flex;
  justify-content: space-between;
}

#pokemon-spotlight .modal-body-section {
  flex: 1;
}

#pokemon-spotlight #modal-body-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#pokemon-spotlight img {
  width: 100%;
}

#pokemon-spotlight .btn-success,
.btn-danger {
  width: 100%;
}



/*************/
/* TEXT/FONT */
/*************/

h1 {
  font-weight: 600;
  text-transform: uppercase;
}

h1::first-letter {
  font-size: 3rem;
}

h2 {
  padding: .5em;
  text-transform: capitalize;
}

.caught-tag p {
  font-size: 3.25rem;
  color: white;
  font-family: var(--secondary-font);
  background-color: black;
}

#modal-body-details p {
  font-size: 1.25rem;
}

/*********/
/* MEDIA */
/*********/

@media screen and (max-width: 575px) {
  #pokemon-spotlight>.modal-body {
    flex-direction: column;
  }
}